* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #d92525;
  --secundaria: #c82c2c;
  --escuro: #0f172a;
  --maisEscuro: #0a0f1c;
  --claro: #f8f9fa;
  --vidro: rgba(255, 255, 255, 0.1);
  --cor-fundo: #0f172a;
  --cor-navbar: #0a0f1c;
  --cor-titulo: #f1f5f9;
  --cor-texto: #cbd5e1;
  --cor-card: #1e293b;
  --cor-card-hover: #334155;
  --cor-destaque: #d92525;
  --whatsapp: #25D366;
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.navegacao {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  background-color: var(--maisEscuro);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  flex-wrap: wrap; /* ... */
  justify-content: center;
  list-style: none;
  gap: 1.5rem; /* 3rem */
  z-index: 999;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--claro);
  cursor: pointer;
  z-index: 1000;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.foto-perfil {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 50px;
  box-shadow: 0 0 20px var(--secundaria);
  border-radius: 50%;
  border: 4px solid var();
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: flutuar 5s ease-in-out infinite;
}

.social-links a:hover {
  transform: scale(1.2);
  color: #ffffff;
  text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff;
}

h1 {
  font-size: 3.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin: 10px;
}

.cabecalho-sub-titulo {
  font-size: 1.5rem;
}

.sobre {
  padding: 6rem 2rem;
}

.sobre-titulo {
  font-size: 3rem;
  text-align: center;
  color: var(--claro);
}

.sobre-caixa {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.sobre-paragrafo {
  text-align: center;
  font-size: 1.6rem;
}

.projetos {
  padding: 8rem 2rem 4rem;
  text-align: center;
}

.projetos-titulo {
  font-size: 3rem;
  color: var(--cor-titulo);
  margin-bottom: 4rem;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.projetos-card {
  background-color: var(--cor-card);
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.projetos-card:hover {
  background-color: var(--cor-card-hover);
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.projetos-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.caixa-textos-projetos {
  padding: 1.5rem;
  border-radius: 0 0 16px 16px;
}

.info-projetos {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--cor-titulo);
  margin-bottom: 5px;
}

.paragrafo-projetos {
  color: rgba(226, 232, 240, 0.8);
  line-height: 1.25rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.contatos {
  padding: 6rem 2rem;
}

.contatos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.formulario-contato {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
}

.campo-form {
  width: 100%;
  max-width: 600px;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  color: var(--claro);
  outline: none;
  border: none;
}

textarea.campo-form {
  min-height: 250px;
  resize: vertical;
}

.campo-form:focus {
  border: 1px solid var(--cor-card-hover);
  box-shadow: 0 0 20px rgba(230, 72, 54, 0.4);
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.button-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--whatsapp);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-form i {
  font-size: 1.3rem;
}

.button-form:hover {
  background-color: #1ebe5d;
  transform: scale(1.03);
}

.rodape {
  background-color: var(--maisEscuro);
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  color: var(--cor-texto);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.rodape p {
  margin-bottom: -1.5rem;
}

.tech-icons {
  text-align: center;
  padding: 6rem 2rem;
}

.tech-title {
  font-size: 2.5rem;
  color: var(--cor-titulo);
  margin-bottom: 2rem;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.icon-container i {
  cursor: pointer;
  font-size: 3rem;
  color: var(--cor-texto);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.icon-container i:hover {
  transform: scale(1.3);
  color: var(--primaria);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  
}

.social-links a {
  font-size: 2rem;
  color: var(--claro);
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
  color: #ffffff;
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: 
  radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
  radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
  var(--maisEscuro);
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 480px) {
  .projetos-caixa {
    grid-template-columns: 1fr;
  }
}

/*Celulares e Tablets */
@media (max-width: 768px) {
  .navegacao {
    padding: 2.5rem;
  }
  .sobre-caixa,
  .formulario-contato {
    padding: 1rem;
  }

  .campo-form {
    font-size: 1.2rem;
  }

  .paragrafo-projetos {
    font-size: 1rem;
  }
  
  .cabecalho {
    padding-top: 120px; /* depende da nova altura da barra */
  }

  .cabecalho h1 {
    font-size: 2.5rem;
  }

  .cabecalho-sub-titulo {
    font-size: 1.2rem;
  }

  .foto-perfil {
    max-width: 200px;
  }

  .menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.01s ease-in-out;
    flex-direction: column;
    background-color: var(--maisEscuro);
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
    gap: 2rem;
    padding: 0;
}

  .menu.show {
    max-height: 500px; /* o suficiente para exibir todos os links */
    padding: 1rem 0;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-size: 2rem;
  }

  .menu-toggle i {
    font-size: 2.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .rotated {
    transform: rotate(180deg);
  }

  .projetos-caixa {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktops*/
@media (min-width: 1024px) {
  .projetos-caixa {
    grid-template-columns: repeat(3, 1fr);
  }
}